.container {
    background-color:#F9CDAD;
    padding: 16px;
    max-height: 480px;
    display:block;
    border:  #83AF9B;
    border-style: ridge;
    border-radius: 5px;
}
.time {
    font-size: 4rem;
    font-weight: 600;
    color: #83AF9B;
}

.main {
    font-size: 1rem;
    font-weight: 400;
}
.textInput{
    color: #83AF9B;
    font-weight: bold;
}